h1,
h2,
h3 {
  font-family: Pacifico, "Lucida Sans", Verdana, sans-serif;
}

p,
a,
li,
small,
strong,
button,
input {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: candy-colour("black");
}

input {
  appearance: none;
  border: none;
}
