h1,
h2,
h3,
h4,
thead td {
  font-family: Pacifico, "Lucida Sans", Verdana, sans-serif;
  color: candy-colour("blue");
}

p,
a,
li,
small,
strong,
button,
input,
td {
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  color: candy-colour("black");
}

input {
  appearance: none;
  border: none;
}
