.sweet-card {
  text-align: center;
  flex: 0 0 18%;
  margin-bottom: 40px;
  margin-right: 40px;
  font-weight: bolder;

  @media screen and (max-width: 768px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__input {
    width: 80px;
    margin: 0 12px;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__image {
    height: 160px;
    width: 160px;
    object-fit: cover;

    padding: 8px;
    border-radius: 8px;
    border: 2px solid candy-colour("blue");
  }
}

.sweet-card__input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  &--spaced {
    justify-content: flex-start;

    button[type="submit"] {
      margin-left: 120px;
      padding: 8px 24px;
    }
  }
}
