@import "./settings/colours.scss";

@import "./reset/reset.css";
@import "./reset/base.scss";
// Components

@import "./button";
@import "./footer";
@import "./generic-content";
@import "./header";
@import "./input";
@import "./lander";
@import "./link";
@import "./navbar";
@import "./product";
@import "./table";
@import "./title";
@import "./sweet-card";

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}
